Galaxy_Booking/_ReSharper.GalaxyBooking/
Galaxy_Booking/GalaxyBooking.Monitor/bin/
Galaxy_Booking/GalaxyBooking.Monitor/obj/
Galaxy_Booking/GalaxyBooking.DatabaseService/obj/
Galaxy_Booking/GalaxyBooking.DatabaseService/bin/
Galaxy/_ReSharper.GalaxyBooking/
Galaxy/GalaxyBooking.Monitor/bin/
Galaxy/GalaxyBooking.Monitor/obj/
Galaxy/Dependencies/
Galaxy/Galaxy.Booking/bin/
Galaxy/Galaxy.Booking/obj/
Galaxy/Galaxy.DatabaseService/bin/
Galaxy/Galaxy.DatabaseService/obj/
Galaxy/Galaxy.MarketFeedService/bin/
Galaxy/Galaxy.MarketFeedService/obj/
Galaxy/_ReSharper.GalaxyVolManager/
Galaxy/Galaxy.PricingService/bin/
Galaxy/Galaxy.PricingService/obj/
Galaxy_old/_ReSharper.PhiSquare/
Galaxy_old/
Galaxy/Galaxy.VolManager/obj/
Galaxy/Galaxy.VolManager/bin/
Galaxy/packages/log4net.2.0.3/
Galaxy/DealManager.v11.suo
Galaxy/Galaxysln.DotSettings.user
Galaxy/_ReSharper.DealManager/AspFileDataCache.dat
Galaxy/_ReSharper.DealManager/
Galaxy/Galaxy.DatabaseEditor/Galaxy.DatabaseEditor.sqlproj.user
Galaxy/Galaxy.DatabaseEditor/bin/
Galaxy/Galaxy.DatabaseEditor/obj/
Galaxy/Galaxy.DatabaseService/Galaxy.DatabaseService.csproj.user
Galaxy/DatabaseEditor.v12.suo
Galaxy/_ReSharper.VolManager/
Galaxy/Galaxy.DealManager/obj/
Galaxy/Galaxy.DealManager/bin/
Galaxy/Galaxy.VolManager/Galaxy.VolManager.csproj.bak
Galaxy/VolManager.v11.suo
Galaxy/VolManager.sln.DotSettings.user
Galaxy/_ReSharper.Pipe/
Galaxy/DealManager.sln.DotSettings.user
Galaxy/Pipe.v11.suo
Galaxy/Galaxy.Pipe/bin/
Galaxy/Galaxy.Pipe/obj/Debug/Pipe.csproj.FileListAbsolute.txt
Galaxy/Galaxy.Pipe/obj/
Galaxy/Galaxy.PricingService.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Galaxy/Galaxy.PricingService.Test/obj/
Galaxy/Galaxy.PricingService.Test/bin/
/Galaxy/packages/NUnitTestAdapter.2.0.0
/Galaxy/packages/NUnit.2.6.4
/Galaxy/.vs/VolManager/v14
*.suo
/Galaxy/Galaxy.NewDatabaseService/bin/Debug
/Galaxy/Galaxy.NewDatabaseService/obj/Debug
/Galaxy/Depencencies/TTApi
/Galaxy/Galaxy.DealManager/publish/Application Files/Galaxy.DealManager_1_0_0_0
/Galaxy/packages/EntityFramework.6.1.3
/Galaxy/Pipe.sln.DotSettings.user
/Galaxy/Galaxy.DealManager/Galaxy.DealManager.csproj.user
/Galaxy/Galaxy.DealManager/publish
/Galaxy/Galaxy.DealManager/Properties/app.manifest
/Galaxy/Galaxy.DealManager/Galaxy.DealManager_TemporaryKey.pfx
*.bak
*.user
/Galaxy/packages/Ninject.3.2.2.0/lib
/Galaxy/packages/Ninject.3.2.2.0
/Galaxy/Depencencies/DevExpress
/Galaxy/Galaxy.PricingService.Console/bin
/Galaxy/Galaxy.PricingService.Console/obj
/Galaxy/packages
