<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="DevDbContext" connectionString="metadata=res://*/GalaxyDbModel.csdl|res://*/GalaxyDbModel.ssdl|res://*/GalaxyDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VPS210729;initial catalog=UatDb;persist security info=True;user id=sa;password=Phy14!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
</configuration>